body{
    background-color: black;
    color:aqua ;
    text-align: center;
}
#anadiv{
    border: 5px solid white;
    height: 900px;
    width: 600px;
    margin: 0 auto;
}

#logo{
    border: 5px solid pink;
    height: 150px;
    width: 250px;
    display: inline-block;
    border-radius: 50%;
}

#menu {
    border: 5px solid blue;
    height: 150px;
    width: 45%;
    display: inline-block;
}
#icerik{
    border: 5px solid orange;
    height: 70%;
}
#alt{
    border: 5px solid green;
    height: 90px;
}